# Node
node_modules/
npm-debug.log*
package-lock.json

# Android
android-app/.gradle/
android-app/.idea/
android-app/build/
android-app/app/build/
android-app/local.properties
*.apk
*.aab
*.dex
*.class

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local
*.key
*.pem
